<h3 class="ui header">{{t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фио
      class=(if (v-get validationModel "фио" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.фио-caption")
      data-test-i-i-s-kursovaya-rabota-2-спр-студ-e-фио=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фио" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.группа-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.группа
      relationName="группа"
      projection="ГруппаL"
      title=(t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.группа-caption")
      readonly=readonly
      componentName="группаLookup"
      class=(if (v-get validationModel "группа" "isInvalid") "error")
      data-test-i-i-s-kursovaya-rabota-2-спр-студ-e-группа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "группа" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.группа.наименование
      class=(if (v-get validationModel.группа "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.группа.наименование-caption")
      data-test-i-i-s-kursovaya-rabota-2-спр-студ-e-группа-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.группа "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.дисциплина-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.дисциплина
      relationName="дисциплина"
      projection="ДисциплинаL"
      title=(t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.дисциплина-caption")
      readonly=readonly
      componentName="дисциплинаLookup"
      class=(if (v-get validationModel "дисциплина" "isInvalid") "error")
      data-test-i-i-s-kursovaya-rabota-2-спр-студ-e-дисциплина=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дисциплина" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.дисциплина.наименование
      class=(if (v-get validationModel.дисциплина "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-2-спр-студ-e.дисциплина.наименование-caption")
      data-test-i-i-s-kursovaya-rabota-2-спр-студ-e-дисциплина-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.дисциплина "наименование" "message")}}
  </div>
</form>
